
<div class="p-d-flex p-jc-center" style="margin-top: 5%;">
  <div class="p-mr-2">
    <p-card class="login-card" header
      [style]="{'width': '25rem', 'margin-bottom': '2em', 'padding': '10px', 'background-color': '#2c2b2b'}">
      <ng-template pTemplate="header">
          <h1 class ="p-d-inline" style="margin-left: 10px;">Login</h1>
          <i class="fa-solid fa-door-open p-d-inline fa-2x" style="float: right; margin-right: 30px; padding-top: 10px; color: #fce399;"></i>
        </ng-template>
        
          
        <div class="p-fluid" style="margin-top: 50px;">
          <div class="p-field">
            <span class="p-float-label">
              <input type="text" id="inputtext" pInputText style="width: 100%;">
              <label for="inputtext">Username</label>
            </span>
          </div> 
          <div class="p-field" style="margin-top: 30px;">
            <span class="p-float-label">
              <p-password inputId="password" [toggleMask]="true" style="width: 100% !important; "></p-password>
              <label for="inputtext">Password</label>
            </span>
          </div> <br/>

          <div class="p-field">
            <span class="p-float-label">
                <button pButton pRipple type="button" label="Login" class="p-button-warning" style="width: 100%;"></button>
              </span>
          </div>
          <p style="text-align: center;">Don't you have an account <a (click)= "register()" style=" color: #0bc8fe !important;">Create one</a></p>
          <p style="text-align: center;"><a routerLink = "" style=" color: #0bc8fe !important;">Forgot password</a></p>
        </div>
      

    </p-card>

  </div>
</div>
