/* You can add global styles to this file, and also import other style files */
body{
    background-color: #1e1e1e !important ;
}

h1,h2, h3, h4, h5, h6{
    color: #fff;
}

p{
    color: rgb(136, 136, 136);
    font-size: 18px;
}

a{
    color: #f5ce5a !important;
}


